
.card-title {
    font-weight: bolder;
    font-size: 19px;
    font-family: 'Bai Jamjuree', sans-serif;
}

.card-text{
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: smaller;

}

.nav1 img{
    margin-left: 70%;
}